@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-800 bg-slate-50 antialiased font-sans;
  }
}

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  z-index: 0;
}

.map-container .leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* Loader */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #22c55e;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
